<h1>Create Partner</h1>
<form (ngSubmit)="createPartner()">
  <label for="firstName">First Name:</label>
  <input id="firstName" [(ngModel)]="partner.firstName" name="firstName" required />

  <label for="lastName">Last Name:</label>
  <input id="lastName" [(ngModel)]="partner.lastName" name="lastName" required />

  <label for="address">Address:</label>
  <input id="address" [(ngModel)]="partner.address" name="address" />

  <label for="partnerNumber">Partner Number:</label>
  <input id="partnerNumber" [(ngModel)]="partner.partnerNumber" name="partnerNumber" required />

  <button type="submit">Create</button>
</form>
<a routerLink="/partners">Cancel</a>
