<div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-primary" (click)="navigateToCreatePartner()">Add New Partner</button>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Full Name</th>
        <th>Partner Number</th>
        <th>Croatian PIN</th>
        <th>Partner type</th>
        <th>Time created</th>
        <th>Is Foreign</th>
        <th>Gender</th>
        <th style="width: 15%;">Actions</th>
        <th style="width: 10%">Policies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partner of partners"
          [ngClass]="{'table-warning': partner.policyCount > 5 || partner.totalPolicyAmount > 5000,
          'table-success': partner.partnerId === highlightedPartnerId}"
          (click)="showDetails(partner)">
        <td>
          <span *ngIf="partner.policyCount > 5 || partner.totalPolicyAmount > 5000">*</span>
          {{ partner.fullName }}
        </td>
        <td>{{ partner.partnerNumber }}</td>
        <td>{{ partner.croatianPin }}</td>
        <td>{{ partner.partnerTypeId === 1 ? 'Personal' : 'Legal' }}</td>
        <td>{{ partner.createdAtUtc }}</td>
        <td>{{ partner.isForeign === false ? 'Not foreign' : 'Foreign' }}</td>
        <td>{{ partner.gender }}</td>
        <td>
          <button class="btn btn-secondary btn-sm"
                  (click)="openPolicyDialog(partner, $event)">
            Add Policy
          </button>
          <button class="btn btn-danger btn-sm" (click)="deletePartner(partner.partnerId, $event)">Delete</button>
        </td>
        <td>
          <button class="btn btn-info btn-sm" (click)="viewPolicies(partner, $event)">
            View All
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-policy-list-modal
                   #policyListModalComponent
                   [partnerId]="selectedPartnerId"
                   [partnerFullName]= "selectedPartner?.fullName"></app-policy-list-modal>
  <app-partner-detail [partner]="selectedPartner"></app-partner-detail>
  <app-policy-form [partnerId]="selectedPartnerId"
                   [partnerFullName]="selectedPartner?.fullName">
  </app-policy-form>
</div>
