<div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-primary" (click)="navigateToCreatePartner()">Add New Partner</button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle border">
      <thead class="table-dark">
        <tr>
          <th scope="col">Full Name</th>
          <th scope="col">Partner Number</th>
          <th scope="col">Croatian PIN</th>
          <th scope="col">Partner Type</th>
          <th scope="col">Time Created</th>
          <th scope="col">Is Foreign</th>
          <th scope="col">Gender</th>
          <th scope="col" class="text-center">Policies</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partner of partners"
            [ngClass]="{
            'table-warning' : partner.policyCount>
          5 || partner.totalPolicyAmount > 5000,
          'table-success': partner.partnerId === highlightedPartnerId
          }"
          (click)="showDetails(partner)">
          <td>
            <span *ngIf="partner.policyCount > 5 || partner.totalPolicyAmount > 5000">*</span>
            {{ partner.fullName }}
          </td>
          <td>{{ partner.partnerNumber }}</td>
          <td>{{ partner.croatianPin }}</td>
          <td>{{ partner.partnerTypeId === 1 ? 'Personal' : 'Legal' }}</td>
          <td>{{ partner.createdAtUtc | date: 'short' }}</td>
          <td>{{ partner.isForeign ? 'Foreign' : 'Not foreign' }}</td>
          <td>{{ partner.gender }}</td>
          <td class="text-center">
            <div class="d-flex justify-content-center gap-2">
              <button class="btn btn-secondary btn-sm"
                      (click)="openPolicyDialog(partner, $event)">
                Add
              </button>
              <button class="btn btn-info btn-sm"
                      (click)="viewPolicies(partner, $event)">
                View
              </button>
            </div>
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center">
              <button class="btn btn-danger btn-sm" (click)="deletePartner(partner.partnerId, $event)">
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-policy-list-modal #policyListModalComponent
                         [partnerId]="selectedPartnerId"
                         [partnerFullName]="selectedPartner?.fullName"></app-policy-list-modal>
  <app-partner-detail [partner]="selectedPartner"></app-partner-detail>
  <app-policy-form [partnerId]="selectedPartnerId"
                   [partnerFullName]="selectedPartner?.fullName">
  </app-policy-form>
</div>
