<h1>Edit Partner</h1>
<form *ngIf="partner; else noPartner" (ngSubmit)="updatePartner()">
  <label for="firstName">First Name:</label>
  <input id="firstName" [(ngModel)]="partner.firstName" name="firstName" required />

  <label for="lastName">Last Name:</label>
  <input id="lastName" [(ngModel)]="partner.lastName" name="lastName" required />

  <label for="address">Address:</label>
  <input id="address" [(ngModel)]="partner.address" name="address" />

  <label for="partnerNumber">Partner Number:</label>
  <input id="partnerNumber" [(ngModel)]="partner.partnerNumber" name="partnerNumber" required />

  <button type="submit">Update</button>
</form>
<ng-template #noPartner>
  <p>No partner found.</p>
</ng-template>
<a routerLink="/partners">Cancel</a>
